*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f4f7fc;
    transition:.3s;
}

.container{
    width:100%;
    max-width:500px;
    padding:20px;
}

.card{
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.1);
    transition:.3s;
}

h2{
    text-align:center;
    margin-bottom:25px;
    color:#333;
}

.input-group{
    display:flex;
    flex-direction:column;
    margin-bottom:15px;
}

label{
    margin-bottom:8px;
    font-weight:500;
}

input,
select{
    padding:12px;
    border:1px solid #ddd;
    border-radius:10px;
    font-size:15px;
    outline:none;
}

.currency-row{
    display:flex;
    align-items:flex-end;
    gap:12px;
}

.currency-row .input-group{
    flex:1;
}

.swap-btn{
    width:50px;
    height:50px;
    border:none;
    border-radius:50%;
    background:#4f46e5;
    color:white;
    cursor:pointer;
    font-size:20px;

    display:flex;
    justify-content:center;
    align-items:center;
}

.swap-btn:hover{
    background:#4338ca;
}

.rate-box{
    margin:20px 0;
    background:#eef2ff;
    color:#4f46e5;
    padding:15px;
    border-radius:10px;
    text-align:center;
    font-weight:600;
}

.convert-btn{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#4f46e5;
    color:white;
    cursor:pointer;
    font-size:16px;
}

.convert-btn:hover{
    background:#4338ca;
}

.result-box{
    margin-top:15px;
    padding:15px;
    border-radius:10px;
    text-align:center;
    background:#ecfdf5;
    color:#047857;
    font-weight:600;
}

.theme-switch{
    position:absolute;
    top:20px;
    right:20px;
    display:flex;
    align-items:center;
    gap:10px;
}

.switch{
    position:relative;
    width:55px;
    height:28px;
}

.switch input{
    display:none;
}

.slider{
    position:absolute;
    inset:0;
    background:#ccc;
    border-radius:50px;
    cursor:pointer;
    transition:.3s;
}

.slider::before{
    content:"";
    position:absolute;
    width:22px;
    height:22px;
    left:3px;
    top:3px;
    background:white;
    border-radius:50%;
    transition:.3s;
}

input:checked + .slider{
    background:#4f46e5;
}

input:checked + .slider::before{
    transform:translateX(27px);
}

/* DARK MODE */

body.dark-mode{
    background:#121212;
}

body.dark-mode .card{
    background:#1e1e1e;
}

body.dark-mode h2,
body.dark-mode label{
    color:white;
}

body.dark-mode input,
body.dark-mode select{
    background:#2a2a2a;
    color:white;
    border-color:#444;
}

body.dark-mode .rate-box{
    background:#2a2a2a;
    color:#8ea2ff;
}

body.dark-mode .result-box{
    background:#163127;
    color:#4ade80;
}